h1 {
    text-align: center;
}

.config-item label {
    display: block;
}

.config-item input[type=number] {
    /* box-sizing: border-box;
     padding: 20px 0; */
    text-align: center;
    /* font-size: 20px;  */
}